.DS_Store
node_modules/
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Editor directories and files
.git
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

H5Player/build/files/*
H5Player/build/temp/*
H5Player/docs/api/*
H5Player/dev.html
H5Player/projects
.zenflow-log
H5Player/test/*.map
.bunyipconfig.js
.s3config.json
.eslintcache

H5Player/node_modules
H5Player/npm-debug.log*

H5Player/sandbox/*
H5Player/!sandbox/*.example

H5Player/*.swp
H5Player/*.swo

H5Player/*.orig

H5Player/*results.xml
H5Player/*.log

H5Player/test/dist/*
H5Player/.coveralls.yml
H5Player/.sass-cache

H5Player/dist/*
H5Player/es5/*

core.js
